* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 500px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

label {
  display: inline-block;
  margin-bottom: 8px;
  margin-right: 10px; /* Thêm khoảng cách giữa label và checkbox */
}

input[type="text"],
button {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type="checkbox"] {
  margin-right: 5px; /* Giảm khoảng cách giữa checkbox và label */
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.hidden {
  display: none;
}

#downloadLink {
  text-align: center;
  display: block;
  color: #007bff;
  text-decoration: none;
  margin-top: 10px;
}

#downloadLink:hover {
  text-decoration: underline;
}
label{
  display: inline-block;
  margin-bottom: 8px;
  margin-right: 10px; /* Thêm khoảng cách giữa label và checkbox */
  font-weight:600;
}